/* buttons and icons and smaller reusable bits here */

@import "forms.css";


button {
	cursor: pointer;
}


.button {
	background-color: var(--highlight);
	color: var(--paper);
	font: sans-serif;
	
	padding: 5px;
	text-align: center;
	border-radius: var(--corners);
	
}



button.favorited {
	background: salmon;
}


.button.outline {
	background-color: initial;
	color: var(--highlight);
	border: solid 2px var(--highlight);
}

button.text,
.button.text {
	background-color: initial;
	color: var(--highlight);
	border: none;
	padding: 5px;
	border-radius: var(--corners);
}

button.text:hover {
	background-color: var(--highlight);

}

.buttons {
	display: flex;
	gap: 10px;
}

.button.danger {
	--highlight: red;

}

nav :has(a.business) {
	--highlight: brown;
}

a {
	color: var(--highlight);
	padding: 10px;
}

a:hover {
	filter: brightness(1.5);
	transition: 0.2s;
	background-color: var(--highlight);
	color: var(--paper);
	border-radius: var(--corners);
	

}

a.business {
	--highlight: brown;

}


header nav {
	--left: 0;
	--width: 0;
	transition: 0.2s;
	position: relative;
}
header nav::after {
	content: "";
	position: absolute;
	bottom: -10px;
	height: 5px;
	left: var(--left);
	width: var(--width);
	background-color: var(--underline-color);
	transition: 0.2s;
}

.button.remove {
	--highlight: red;
}


label {
	cursor: pointer;
}



button.dropdown {
	text-overflow: ellipsis;

}





p a {
	padding: 0;
}