/* buttons and icons and smaller reusable bits here */

@import "forms.css";

button,
.button {
	background-color: var(--highlight);
	color: black;
	border: solid 2px black;
	font: inherit;
	padding: 5px;
	cursor: pointer;
}

input-field {
	display: grid;
}

button.favorite {
	background: salmon;
}

input-field .filter {
	padding: 15px;
}
