/* buttons and icons and smaller reusable bits here */

@import "forms.css";


button {
	cursor: pointer;
}
.button {
	background-color: var(--highlight);
	color: var(--paper);
	font: inherit;
	padding: 5px;
	text-align: center;
	
}

input-field {
	display: grid;
	gap: 10px;
	padding: 10px 0;
}

button.favorite {
	background: salmon;
}

input-field .filter {
	padding: 15px;
}

input-field .filter:focus {
	outline: none;
}
.button.outline {
	background-color: initial;
	color: var(--highlight);
	border: solid 2px var(--highlight);
}

button.text {
	background-color: initial;
	color: var(--highlight);
	border: none;
}

input, textarea {
	padding: 15px;
}

form {
	display: grid;
	gap: 20px;
}

.buttons {
	display: flex;
	gap: 10px;
}

.button.danger {
	--highlight: red;

}

input-field {
	display: grid;
}
input-field label {
	order: 1;
}
input-field :is(input,
textarea) {
	order: 2;
}