form {
	display: grid;
	gap: 20px;
}

input-field {
	display: grid;
	gap: 10px;
	padding: 10px 0;
}
input-field .filter {
	padding: 15px;
	border-radius: var(--corners);
}

input-field .filter:focus {
	outline: none;
}
input,
textarea {
	padding: 15px;
	border-radius: var(--corners);
	border: none;
	outline: none;
}

input-field {
	display: grid;
}
input-field input[text] + label {
	order: 1;
}
input-field :is(input[text], textarea) {
	order: 2;
}

/* login form */
login-form {
	display: grid;
	gap: 30px;
	margin-top: 80px;
}
login-form form {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	/* dim background color */
	background-color: rgba(0, 0, 0, 0.1);
	padding: 20px;
}
login-form h1 {
	text-align: center;
}
login-form button {
	justify-self: start;
}

input:invalid {
	border: 2px inset red;
}
