html {
	--black: hsla(0, 0%, 0%, 1);
	--white: #efefef;
	--hue: 60;

	--gray: hsla(var(--hue), 0%, 51%, 1);
	--gray-light: hsla(var(--hue), 0%, 71%, 1);
	--gray-lighter: hsla(var(--hue), 0%, 90%, 1);

	--neutral-stuffs: gray;

	--color: hsla(var(--hue), 95%, 50%, 1);
	--color-shade: hsla(var(--hue), 50%, 40%, 1);

	--highlight: hsla(var(--hue), 0%, 95%, 1);

	--shadow: 0 20px 80px -10px var(--color);

	--corners: 8px;

	--paper: hsla(0, 0%, 0%, 1);
	--ink: white;
}
