html {
	--black: #111111;
	--white: #efefef;

	--neutral-stuffs: gray;

	--color: hsla(60, 97%, 52%, 1);
	--highlight: black;

	--shadow: rgba(0, 0, 0, 0.8);

	--corners: 5px; /* or whatevers */

	--paper: hsla(50, 10%, 10%, 1);
	--ink: white;
}
