/* P reset */
@import "preset.css";

/* S etup */
@import "setup.css";

/* S setings */
@import "settings.css";
@import "developer-styles.css";

/* S tructure */
@import "structure.css";

/* T ypography */
@import "typography.css";

/* C omponents */
@import "components.css";

/* S tuff (modules) */
@import "modules.css";

/* S ections and more stuff */

/* then other contextual styles */
body {
	background-color: var(--paper);
	color: var(--ink);
	
}
main {
	overflow-x: hidden;
}
.my-fantastic-image {
	max-width: 300px;
	border-bottom-right-radius: 30px;
}

.hide {
	display: none;
}

nav {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
nav a {
	padding: 10px;
	font-family: sans-serif;
}

.display-contents {
	display: contents;
}

ul.restaurant-list {
	display: grid;

	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

	gap: 20px;
}
.items-list {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}


.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.2s ease;
}
.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.list-move,
.list-enter-active {
  transition: 0.5s ease;
}

.list-enter-from {
  opacity: 0; 
  transform: translateX(30px);
}


.list-leave-active {
  transition: 0s;
}



.modal-enter-from {
	opacity: 0;
 }
 
 .modal-leave-to {
	opacity: 0;
 }
 
 .modal-enter-from .modal-container,
 .modal-leave-to .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
 }

body::-webkit-scrollbar {
	display: none;
 }

 .vue-map .gmnoprint,
 .vue-map button {
	display: none !important;
}




.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	transition: opacity 0.3s ease;
	overflow-y: auto;
	padding: 60px 0;
}
.modal-mask > * {
	width: clamp(300px, 90vw, 500px);
	margin:  auto;

	background-color: var(--paper);

}