/* P reset */
@import "preset.css";

/* S etup */
@import "setup.css";

/* S setings */
@import "settings.css";
@import "developer-styles.css";

/* S tructure */
@import "structure.css";

/* T ypography */
@import "typography.css";

/* C omponents */
@import "components.css";

/* S tuff (modules) */
@import "modules.css";

/* S ections and more stuff */

/* then other contextual styles */
body {
	background-color: var(--paper);
	color: var(--ink);
	
}
main {
	overflow-x: hidden;
}
.my-fantastic-image {
	max-width: 300px;
	border-bottom-right-radius: 30px;
}

nav {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
nav a {
	padding: 10px;
	font-family: sans-serif;
}
a.router-link-exact-active {
	border-bottom: 5px solid var(--highlight);
	color: black;
}
a.business {
	--highlight: brown
	background-color: var(--highlight);
	color: var(--paper);
}

ul.restaurant-list {
	display: grid;

	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

	gap: 20px;
}
.items-list {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}


.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.2s ease;
}
.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}



.modal-enter-from {
	opacity: 0;
 }
 
 .modal-leave-to {
	opacity: 0;
 }
 
 .modal-enter-from .modal-container,
 .modal-leave-to .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
 }