/* Should we pull in @fonts here? */
/* don't think you can... might have to be higher up (the top of) the food chain! */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
	--font: Inter, sans-serif;

	--step--2: clamp(0.39rem, calc(0.36rem + 0.15vw), 0.5rem);
	--step--1: clamp(0.58rem, calc(0.54rem + 0.23vw), 0.75rem);
	--step-0: clamp(0.88rem, calc(0.81rem + 0.34vw), 1.13rem);
	--step-1: clamp(1.31rem, calc(1.21rem + 0.51vw), 1.69rem);
	--step-2: clamp(1.97rem, calc(1.82rem + 0.76vw), 2.53rem);
	--step-3: clamp(2.95rem, calc(2.72rem + 1.14vw), 3.8rem);
	--step-4: clamp(4.43rem, calc(4.09rem + 1.72vw), 5.7rem);
	--step-5: clamp(6.64rem, calc(6.13rem + 2.57vw), 8.54rem);

	--weight-semibold: 600;
	--weight-medium: 500;
	--weight-light: 300;
}

.booming-voice {
	font-family: var(--font);
	font-size: clamp(3.13rem, calc(2.77rem + 1.79vw), 5rem);
	font-weight: 700;
}

.loud-voice {
	font-family: var(--font);
	font-size: clamp(2.25rem, calc(1.66rem + 2.93vw), 3.75rem);
}
@media (min-width: 600px) {
	.loud-voice {
		font-weight: 700; /* or variable font */
	}
}

.attention-voice {
	font-family: var(--font);
	font-size: clamp(1.5rem, calc(1.3rem + 0.98vw), 2rem);
}
.solid-voice {
	font-family: var(--font);
	font-size: 20px;
	font-weight: 700;
}

.firm-voice {
	font-family: var(--font);
	font-size: 16px;
	font-weight: 700;
}

.whisper-voice {
	opacity: 0.7;
	font-family: var(--font);
	font-size: 14px;
}

.small-voice {
	font-family: var(--font);
	font-size: 12px;
}

.calm-voice,
p,
p.calm-voice {
	font-family: var(--font);
	font-size: 1rem;
	line-height: 1.4;
}

em {
	font-style: italic;
}

strong {
	font-weight: 700;
}

code {
	display: block;
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}
